header {
    padding-block: 20px;
    background-color: var(--surface-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 32px;
    max-width: 80rem;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

header nav ul img {
    width: 1.5rem;
    height: 1.5rem;
}

header nav ul li a {
    font: var(--text-nav);
    color: var(--text-color-secondary);

}
.nav-img-profile {
    width: 2.5rem;
    height: 2.5rem;
}

.about {
    background-color: var(--surface-color);
    padding-block: 32px;
    padding-inline: 32px;

 }
 .content {
    max-width: 76rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.img-profile {
    width: 11rem;
    height: 11rem;
}

 .main {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 37rem;
 }

 .main img {
    width: 11rem;
    height: 11rem;
 }

 .text {
    width: 24rem;
 }
 .text h1 {
     margin-bottom: 0.5rem;
     font: var(--h1);
     color: var(--text-color-primary);
 }
 
 .info {
    max-width: 17.5rem;
 }

 .info ul {
    max-width: 17.5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info ul li {
    align-items: center;
    gap: 8px;
}

.info ul li {
    display: flex;
    text-align: center;
}

.gallery {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-block: 24px;
    padding-inline: 32px;
    gap: 24px;
}

.gallery img {
    width: 17.875rem;
    height: 17.875rem;
}

footer {
    max-width: 76rem;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-block: 24px;
}
.footer span {
    font: var(--text-footer);
    color: inherit;
}

.termos a:last-child {
    padding-left: 16px;
}

.termos a {
    font: var(--text-footer);
    color: inherit;
}