    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Product */
    --brand-color: #EF5F4C;

    /* Shape */
    --bakcgorund-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;

    /* Text*/
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /* Typograph */
    --font-family: 'Poppins', san-serif;
    --h1: bold 32px/125% var(--font-family);
    --text-nav: 16px/150% var(--font-family);
    --text-footer: 14/150% var(--font-family);
    --paragraph-md: 14px/170% var(--font-family);
    --paragraph-sm: 12px/170% var(--font-family);
}

body {
    background-color: var(--skeleton-color);
    color: var(--text-color-secondary);
    font-family: var(--paragraph-md);
}